<div class="container" style= "width: 600px;">
  <div class="row">
    <div class="card-header">
      <h1 class= "card-title text-center text-dark">Chi tiết sách</h1>
      <div class="d-flex justify-content-end">
        <button [routerLink]="['/']" class="btn btn-secondary " type="button">Xem danh sách</button>

      </div>
    </div>
    <div class="card-body">
    <p> Tên sách : {{book.name}} </p>
    <p> Tác giả: {{book.author}}</p>
    <p> Mô tả: {{book.description}} </p>

    </div>
    <div class="card-footer d-flex justify-content-end">

  </div>
</div>


